.homepage{
  background: url('./img/3.jpg');
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.dashboardpage{
  background: url('./img/3.jpg');
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.dashboardbox{
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:10%;
  background-color: rgba(187, 242, 245, 0.185);
  margin: 1%;
  border-radius: 10%;
  border: 1px solid rgba(156, 155, 155, 0.253);
}
.dashboard-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-list a{
  margin: 10%;
  padding: 15%;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Patrick Hand', cursive;
  color: black;
  
}
.dashboard-list a:hover,
.dashboard-list a::after{
  background-color: rgba(209, 170, 224, 0.534);
  border: 1px solid rgba(156, 155, 155, 0.253);
  border-radius: 1em ;
}
.dashboard-main{
  background-color: rgba(187, 242, 245, 0.185);
  width: 87%;
  height: 100%;
  text-align: center;
  margin: 1%;
  border-radius:3%;
  border: 1px solid rgba(156, 155, 155, 0.253);
  font-family: 'Fredericka the Great', cursive;
  font-size: 2em;
}
.navbar{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 1%;
  padding: 1%;
  background-color: rgba(241, 246, 247, 0.363);
  border: 1px solid rgba(156, 155, 155, 0.253);
  border-radius: 1em;
}
.navbar a {
  text-decoration: none;
  margin: 2%;
  padding: 1%;
  font-size: 1.5em;
  font-family: 'Fredoka One', cursive;
  color: black;
  
}
.nav-left a:hover,
.nav-left a::after{
  background-color: rgb(161, 211, 211);
  border: 1px solid rgba(156, 155, 155, 0.253);
  border-radius: 1em ;
}
.nav-left{
width: 50%;
}
.outlethome{
  background-color: rgba(187, 242, 245, 0.185);
  height: 85%;
  text-align: center;
  margin: 1%;
  border-radius: 1em ;
  border: 1px solid rgba(156, 155, 155, 0.253);
  font-family: 'Fredericka the Great', cursive;
  font-size: 2em;
}